.filter {
	@include styled-box();
	background: #fff;
	padding: 1.5rem 0;

	transition: background-color 0.2s ease-in-out;

	&__section {}

	&__section + &__section {
		margin-top: 3rem;
	}
}

.theme--night-mode .filter {
	background: #1e3c53;
}