.filter-section {
	&__title {
		margin-bottom: 1.2rem;
		text-transform: uppercase;
		font-weight: 500;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	&__rows {

	}

	&__row {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	&__rows--radio-row-list {
		.filter-section__row + .filter-section__row{
			margin-top: .8rem;
		}
	}

	&__rows--radio-row-list {
		.filter-section__row + .filter-section__row{
			margin-top: .8rem;
		}
	}

	&__rows--checkboxes-list {
		.filter-section__row {
			padding: 0;
		}
	}
}