.currency-checker-tabs {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;

	&__item {
		flex-grow: 1;
	}

	&__item + &__item {
		& > * {
			margin-left: -1px;
		}

		label {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&__item:not(:last-child) {
		label {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
