.flight-date {
	&__time {
		color: #4A4A4A;
		font-size: 3.2rem;
		margin-bottom: 0.3125em;
		line-height: 1;
	}

	&__place {
		color: #4A4A4A;
		font-weight: 500;
		font-size: 1.2rem;
		margin-bottom: 0.5em;
	}

	&__date {
		font-size: 1.2rem;
		color: #8B9497;
	}

	&--to {
		text-align: right;
	}

	&--from {
		text-align: left;
	}
}
